.circule {
  border-radius: 50%;
  width: 133px;
  height: 121px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.circule1 {
  background-image: url("./pic/4.1.png");
}
.circule2 {
  background-image: url("./pic/4.2.png");
}
.circule3 {
  background-image: url("./pic/4.3.png");
}
.circule4 {
  background-image: url("./pic/4.4.png");
}
.small-circule {
  border-radius: 50%;
  width: 30px;
  height: 31px;
  background-color: rgb(236, 165, 33);
  color: black;
  position: absolute;
  top: -5px;
  right: 11px;
}
.absolute{
  position:absolute;
  top:39px;
  right:-120px;
}
.carousel-caption{  
  top:30vh;   
}

@media (max-width: 1200px) {
  .absolute{
    display: none;
  }
  
}

